annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
beautifulsoup4==4.12.3
blinker==1.7.0
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2023.1
crispy-bootstrap5==2023.10
distlib==0.3.7
dj-database-url==2.3.0
Django==4.2.9
django-bootstrap-v5==1.0.11
django-ckeditor==6.7.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-js-asset==2.2.0
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
Faker==22.1.0
fastapi==0.110.2
filelock==3.13.1
Flask==3.0.0
fpdf==1.7.2
gunicorn==23.0.0
h11==0.14.0
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mysql-connector-python==8.1.0
mysqlclient==2.2.0
numpy==1.24.2
packaging==24.2
pandas==2.0.0
Pillow==9.5.0
platformdirs==3.11.0
protobuf==4.21.12
psycopg==3.2.6
psycopg2==2.9.10
pydantic==2.7.1
pydantic_core==2.18.2
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
qrcode==7.4.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.4.3
starlette==0.37.2
typing_extensions==4.11.0
tzdata==2022.7
uvicorn==0.29.0
virtualenv==20.24.6
Werkzeug==3.0.1
