{% extends "base/navbar.html" %}
{% block body %}
<h2 class="text-center mt-2">Men shopping</h2>
<div class="container my-3 d-flex justify-content-around ">
  <a class="nav-link active" href="{% url 'men' %}">Go to men</a>
{% for i in items %}
<div class="card mx-3 my-2" style="width: 18rem;">
    <img class="card-img-top" width="250" height="200" src="{{i.img.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <h5 class="card-title">{{i.price}} rs </h5>
      <p class="card-text">{{i.brand}}</p>
      <button class="btn btn-primary">Add to Cart</button>       
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock  %}