{% extends "base/navbar.html" %}
{% block body %}
<div class="container mt-4">
    <h2 class="text-center success">Welcome to Men Shoping....</h2>
    <nav aria-label="breadcrumb">
      
    </nav>
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="nav-link active" href="{% url 'shop' %}">Shop</a></li>
        <li class="breadcrumb-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>   
      </ol>
    </nav>
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="nav-link active" href="{% url 'contact' %}">Contact</a></li>
        
      </ol>
    </nav>
    <div class="row mt-4">
        {% for i in items %}
        <div class="col">
        <div class="card mx-2 my-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{i.category}}</h5>             
              <p class="card-text">With Shopify, you can create a professional-looking online storefront without needing extensive technical knowledge.</p>
              <a class="nav-link active" href="{% url 'category' id=i.id %}">Click here..</a>              
            </div>
          </div> 
          </div> 
        {% endfor %}          
    </div>  
    </div>       
</div>
{% endblock  %}